@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #002d62;
  --color-primary-hover: #002244;
  --color-red: #ba0021;
  --color-red-hover: #8b0000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
